---
- hosts: tempest
  name: validations-libs-functional
  roles:
    - ensure-tox
    - ensure-pip
    - ensure-virtualenv
    - role: ensure-if-python
      vars:
        zuul_work_dir: "src/opendev.org/openstack/validations-libs"
    - role: ensure-if-python
      vars:
        zuul_work_dir: "src/opendev.org/openstack/validations-common"
    - role: "src/opendev.org/openstack/validations-common/roles/validations"
    - role: "src/opendev.org/openstack/validations-common/roles/fetch_validations"
